<%= form_for @stock do |f| %>

  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@stock.errors.count, 'error') %> prohibited
        this stock from being saved:
      </h2>
      <ul>
        <% @stock.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <label for="company">Company
    <%= f.text_field :company %></label>
  <label for="symbol">Symbol
    <%= f.text_field :symbol %></label>
  <label for="current_price">Current price
    <%= f.text_field :current_price %></label>
  <%= f.submit %>
<% end %>
