<h1>New stock</h1>
<%= form_for Stock.new do |f| %>
  <label for="company">Company
    <%= f.text_field :company %></label>
  <label for="symbol">Symbol
    <%= f.text_field :symbol %></label>
  <label for="current_price">Current price
    <%= f.text_field :current_price %></label>
  <%= f.submit 'Create' %>
<% end %>
